PROBE_SECRET_OPENROUTER=
PROBE_SECRET_GROQ=
PROBE_SECRET_GOOGLE_AI_STUDIO=
PROBE_SECRET_CLOUDFLARE=
CLOUDFLARE_ACCOUNT_ID=
PUBLIC_SITE_URL=https://free-model-radar.example
PUBLIC_REPOSITORY_URL=https://github.com/owner/free-model-radar
MAX_PROBES_PER_RUN=3
MAX_IMAGE_PROBES_PER_RUN=1
RELEASE=0.1.0
